---
import type { Post } from '../types/post';

export interface Props {
    post: Post
}

const { post } = Astro.props;
---
<article>
    <p>{new Date(post.data.date).toDateString()}</p>
    <h2 class="font-bold pt-2">
        <a href={`/blog/${post.slug}`}>
            {post.data.title}
        </a>
    </h2>
    <p class="">{post.data.description}</p>
</article>
