---
const pathname = new URL(Astro.request.url).pathname;
---

<nav class="w-container-1 sm:w-container-2 lg:w-container-3 xl:w-container-4 mx-auto flex pt-2 flex-wrap">
    <div class="w-container-1 flex-none px-4">
        {pathname === '/' && (
            <h1 class=" sm:text-lg">Dimitris Kottas</h1>
        )}
        {pathname !== '/' && (
            <a href="/" class="font-bold sm:text-lg text-neutral-800 hover:text-neutral-500 transition-colors">Dimitris Kottas</a>
        )}
    </div>
    <ul class="w-container-1 lg:w-container-2 xl:w-container-3 flex items-center justify-start lg:justify-end gap-6 flex-none px-4">
        <li>
            <a href="/projects" class={`hover:text-red-700 transition-colors ${pathname.includes('/projects') ? 'text-black' : 'text-neutral-700'}`}>projects</a>
        </li>
        <li>
            <a href="/blog" class={`hover:text-red-700 transition-colors ${pathname.includes('/blog') ? 'text-black' : 'text-neutral-700'}`}>blog</a>
        </li>
        <li>
            <a href="/about" class={`hover:text-red-700 transition-colors ${pathname.includes('/about') ? 'text-black' : 'text-neutral-700'}`}>about</a>
        </li>
        <li>
            <a href="/contact" class={`hover:text-red-700 transition-colors ${pathname.includes('/contact') ? 'text-black' : 'text-neutral-700'}`}>contact</a>
        </li>
    </ul>
</nav>

