---
import Topbar from '../components/Topbar.astro';
import '../styles/base.css';


export interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,200;0,400;0,700;1,400&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="font-sans text-base leading-6 text-neutral-800">
            <div class="container mx-auto">
                <header class="pb-16 sm:pb-32">
                    <Topbar />
                </header>
                <slot />
            </div>
        </div>
	</body>
</html>
